<!DOCTYPE html>
<html>
<head>
    <title>AngularJS Tutorials</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.0/css/foundation.min.css">

</head>
<body>

<div ng-app="app">
    <div ng-repeat="item in 'somewords'.split('')">
        {{$index + 1}}. {{item}}
    </div>
</div>

<div ng-app="app">
    <div class="button" ng-repeat="item in 'somewords'.split('')" ng-click="ev = $event">
        {{$index + 1}}. {{item}}
        {{ev.pageX}}
    </div>
</div>


<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular.min.js"></script>
<script type="text/javascript" src="main.js"></script>
</body>
</html>